In [122]:
import pandas as pd

In [123]:
df=pd.read_csv(r"C:\Users\GWAFA\AppData\Local\Temp\Temp1_archive (14).zip\Social_Network_Ads.csv")

In [124]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [125]:
df=df.iloc[:,2:]

In [126]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

Train Test Split

In [127]:
from sklearn.model_selection import train_test_split

In [128]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [129]:
df["Purchased"]

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [130]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [131]:
df.shape

(400, 3)

In [132]:
# Ensure the "Purchased" column exists in the DataFrame
X_train, X_test, y_train, y_test = train_test_split(df.drop("Purchased", axis=1), df["Purchased"], test_size=0.25)

In [133]:
X_train

     Age  EstimatedSalary
208   40           142000
286   37            62000
73    33           113000
378   41            87000
74    32            18000
..   ...              ...
46    25            79000
321   53            82000
77    22            27000
332   42            65000
28    29            43000

[300 rows x 2 columns]

StandardScaler

In [134]:
from sklearn.preprocessing import StandardScaler

In [135]:
scaler = StandardScaler()

In [136]:
scaler.fit(X_train)

StandardScaler()

In [137]:
scaler.transform(X_train)

array([[ 2.48264720e-01,  2.06229474e+00],
       [-3.93005927e-02, -2.30205202e-01],
       [-4.22721010e-01,  1.23126351e+00],
       [ 3.44119824e-01,  4.86201029e-01],
       [-5.18576114e-01, -1.49108017e+00],
       [ 2.48264720e-01,  1.42326038e-01],
       [-1.47712716e+00,  3.14263533e-01],
       [-3.93005927e-02, -1.06123643e+00],
       [-8.06141426e-01,  3.71576032e-01],
       [ 1.97365660e+00, -1.34779892e+00],
       [ 2.48264720e-01,  5.63572902e-02],
       [-8.06141426e-01, -1.20451768e+00],
       [ 1.20681576e+00,  5.14857278e-01],
       [-9.97851635e-01, -3.73486448e-01],
       [-1.35155697e-01,  2.11960724e+00],
       [ 1.87780149e+00, -1.26183017e+00],
       [ 2.16536680e+00,  3.71576032e-01],
       [ 7.27540241e-01, -1.26183017e+00],
       [ 1.11096066e+00,  4.57544780e-01],
       [ 9.19250449e-01,  1.00201352e+00],
       [ 9.19250449e-01,  1.05932601e+00],
       [-1.28541695e+00, -1.08989268e+00],
       [ 8.23395345e-01, -8.31986436e-01],
       [-1.38127205e+00, -1.20451768e+00],
       [-1.76469247e+00,  1.70982287e-01],
       [-8.06141426e-01,  1.42326038e-01],
       [ 9.19250449e-01, -7.74673938e-01],
       [ 5.65545115e-02, -5.74080193e-01],
       [ 5.65545115e-02,  2.85607284e-01],
       [-4.22721010e-01,  2.26288848e+00],
       [ 1.52409616e-01,  1.99638536e-01],
       [ 4.39974928e-01,  2.85607284e-01],
       [ 5.65545115e-02, -5.74080193e-01],
       [-1.28541695e+00, -4.30798947e-01],
       [-5.18576114e-01,  2.29154473e+00],
       [ 1.30267087e+00, -1.34779892e+00],
       [ 3.44119824e-01, -2.87517701e-01],
       [-1.47712716e+00, -4.30798947e-01],
       [-9.01996531e-01,  1.51782600e+00],
       [ 1.01510555e+00,  1.74707600e+00],
       [ 8.23395345e-01,  2.56951035e-01],
       [ 1.52409616e-01,  2.56951035e-01],
       [ 1.52409616e-01,  8.50135394e-02],
       [-5.18576114e-01,  8.58732269e-01],
       [ 2.06951170e+00, -8.03330187e-01],
       [ 3.44119824e-01,  5.63572902e-02],
       [-2.31010801e-01, -5.74080193e-01],
       [-6.14431218e-01, -5.82677068e-02],
       [-7.10286322e-01,  1.05932601e+00],
       [ 1.01510555e+00,  1.40320100e+00],
       [-9.01996531e-01, -9.46611433e-01],
       [-6.14431218e-01, -1.49108017e+00],
       [-1.09370674e+00, -1.54839267e+00],
       [-9.01996531e-01,  4.28888530e-01],
       [ 4.39974928e-01,  2.26288848e+00],
       [-1.28541695e+00,  4.00232281e-01],
       [-1.35155697e-01,  1.37454476e+00],
       [-9.01996531e-01,  5.43513527e-01],
       [-8.06141426e-01,  2.23423223e+00],
       [-7.10286322e-01,  2.56951035e-01],
       [ 5.65545115e-02, -4.30798947e-01],
       [ 1.52409616e-01,  1.83304474e+00],
       [ 7.27540241e-01,  2.56951035e-01],
       [-2.31010801e-01, -9.17955184e-01],
       [-7.10286322e-01, -2.30205202e-01],
       [ 1.01510555e+00, -8.31986436e-01],
       [-1.28541695e+00, -1.46242392e+00],
       [-1.76469247e+00, -9.55208308e-04],
       [ 3.44119824e-01,  2.56951035e-01],
       [ 1.59023618e+00, -9.55208308e-04],
       [ 5.35830033e-01,  1.68976350e+00],
       [ 1.11096066e+00, -8.89298935e-01],
       [ 2.48264720e-01, -3.73486448e-01],
       [-9.97851635e-01,  5.72169776e-01],
       [ 2.48264720e-01,  2.28294786e-01],
       [ 1.01510555e+00,  1.94766974e+00],
       [ 4.39974928e-01, -9.55208308e-04],
       [-3.93005927e-02, -5.16767695e-01],
       [ 1.20681576e+00, -9.75267682e-01],
       [-2.31010801e-01, -1.34779892e+00],
       [ 2.48264720e-01, -6.60048941e-01],
       [-3.26865905e-01, -1.29048642e+00],
       [ 1.11096066e+00, -1.20451768e+00],
       [-2.31010801e-01, -3.73486448e-01],
       [-2.31010801e-01,  5.14857278e-01],
       [ 1.59023618e+00,  9.73357266e-01],
       [ 1.01510555e+00,  7.44107272e-01],
       [ 1.49438107e+00,  5.63572902e-02],
       [ 1.87780149e+00, -1.06123643e+00],
       [-3.93005927e-02, -3.73486448e-01],
       [-1.57298226e+00,  5.63572902e-02],
       [-1.86054757e+00,  4.57544780e-01],
       [-3.26865905e-01, -7.74673938e-01],
       [ 1.01510555e+00,  5.72169776e-01],
       [ 9.19250449e-01,  1.23126351e+00],
       [ 3.44119824e-01,  5.63572902e-02],
       [-1.09370674e+00, -1.57704892e+00],
       [-9.97851635e-01, -4.59455196e-01],
       [-5.18576114e-01,  1.34588851e+00],
       [-2.31010801e-01, -2.87517701e-01],
       [ 1.59023618e+00, -1.26183017e+00],
       [-3.26865905e-01,  1.20260726e+00],
       [ 7.27540241e-01, -1.37645517e+00],
       [ 1.20681576e+00, -1.43376767e+00],
       [ 1.01510555e+00, -1.00392393e+00],
       [-2.31010801e-01, -1.37645517e+00],
       [ 4.39974928e-01,  2.85607284e-01],
       [ 1.39852597e+00,  2.29154473e+00],
       [-1.18956184e+00,  2.85607284e-01],
       [-1.28541695e+00, -1.34779892e+00],
       [-9.97851635e-01,  5.43513527e-01],
       [-1.66883736e+00,  3.42919783e-01],
       [-2.31010801e-01,  1.42326038e-01],
       [ 1.49438107e+00, -1.03258018e+00],
       [-1.57298226e+00,  5.14857278e-01],
       [-1.86054757e+00, -5.82677068e-02],
       [-3.93005927e-02, -9.55208308e-04],
       [-6.14431218e-01, -1.03258018e+00],
       [ 2.48264720e-01, -3.73486448e-01],
       [-4.22721010e-01, -8.31986436e-01],
       [-1.09370674e+00, -1.00392393e+00],
       [-1.76469247e+00, -1.26183017e+00],
       [-3.93005927e-02,  5.63572902e-02],
       [-9.01996531e-01, -1.08989268e+00],
       [ 4.39974928e-01,  2.56951035e-01],
       [-1.09370674e+00, -5.16767695e-01],
       [ 2.48264720e-01, -2.58861451e-01],
       [-5.18576114e-01,  1.43185725e+00],
       [ 1.39852597e+00, -1.40511142e+00],
       [-6.14431218e-01,  1.37454476e+00],
       [-2.31010801e-01, -7.46017689e-01],
       [-2.31010801e-01,  8.50135394e-02],
       [-6.14431218e-01, -1.15580205e-01],
       [ 8.23395345e-01,  1.13669789e-01],
       [ 5.35830033e-01,  1.20260726e+00],
       [-7.10286322e-01,  2.85607284e-01],
       [ 1.01510555e+00, -1.14720518e+00],
       [-2.31010801e-01, -1.44236455e-01],
       [-1.09370674e+00, -1.08989268e+00],
       [ 9.19250449e-01, -1.34779892e+00],
       [-7.10286322e-01, -1.57704892e+00],
       [-3.93005927e-02,  2.56951035e-01],
       [ 1.87780149e+00,  1.13669789e-01],
       [-5.18576114e-01,  1.86170099e+00],
       [ 5.35830033e-01,  1.80438849e+00],
       [-3.26865905e-01,  1.28857601e+00],
       [ 9.19250449e-01, -1.03258018e+00],
       [ 1.11096066e+00, -9.75267682e-01],
       [-9.97851635e-01, -1.51973642e+00],
       [-3.93005927e-02,  1.91901349e+00],
       [-4.22721010e-01, -2.96114575e-02],
       [-9.97851635e-01, -1.43376767e+00],
       [ 3.44119824e-01,  2.77010409e-02],
       [ 2.06951170e+00,  5.14857278e-01],
       [ 1.11096066e+00,  5.43513527e-01],
       [-1.09370674e+00,  4.57544780e-01],
       [-8.06141426e-01, -7.74673938e-01],
       [-2.31010801e-01, -4.88111445e-01],
       [ 1.39852597e+00,  1.94766974e+00],
       [ 2.06951170e+00,  1.71841975e+00],
       [-1.76469247e+00, -1.40511142e+00],
       [ 4.39974928e-01,  5.72169776e-01],
       [-1.09370674e+00, -1.51973642e+00],
       [ 9.19250449e-01, -1.14720518e+00],
       [-7.10286322e-01,  5.43513527e-01],
       [-3.93005927e-02, -4.88111445e-01],
       [ 1.39852597e+00, -9.17955184e-01],
       [ 1.78194639e+00, -2.87517701e-01],
       [-1.38127205e+00, -2.01548953e-01],
       [-1.09370674e+00,  2.85607284e-01],
       [-2.31010801e-01, -1.43376767e+00],
       [-1.09370674e+00,  5.63572902e-02],
       [-2.31010801e-01, -1.23317393e+00],
       [ 1.01510555e+00,  2.03363849e+00],
       [ 4.39974928e-01,  1.08798226e+00],
       [ 6.31685137e-01,  1.97632599e+00],
       [-1.35155697e-01, -1.06123643e+00],
       [-1.76469247e+00,  4.28888530e-01],
       [-9.97851635e-01,  5.14857278e-01],
       [-1.86054757e+00, -7.46017689e-01],
       [ 3.44119824e-01, -5.16767695e-01],
       [ 1.52409616e-01, -8.03330187e-01],
       [ 4.39974928e-01,  1.42326038e-01],
       [ 1.52409616e-01,  7.44107272e-01],
       [-2.31010801e-01,  1.99638536e-01],
       [-1.66883736e+00,  4.57544780e-01],
       [ 2.06951170e+00,  2.09095099e+00],
       [-1.47712716e+00, -1.49108017e+00],
       [-3.93005927e-02,  2.85607284e-01],
       [ 1.52409616e-01,  1.48916975e+00],
       [ 3.44119824e-01, -5.16767695e-01],
       [ 1.97365660e+00,  8.87388518e-01],
       [-9.97851635e-01,  7.44107272e-01],
       [-8.06141426e-01, -6.60048941e-01],
       [-3.26865905e-01, -7.74673938e-01],
       [ 7.27540241e-01,  1.74707600e+00],
       [-1.35155697e-01, -2.87517701e-01],
       [ 8.23395345e-01, -1.20451768e+00],
       [ 2.16536680e+00, -6.88705190e-01],
       [ 1.78194639e+00,  1.80438849e+00],
       [ 8.23395345e-01,  1.34588851e+00],
       [ 1.49438107e+00,  2.09095099e+00],
       [ 5.65545115e-02, -3.16173950e-01],
       [-7.10286322e-01,  1.31723226e+00],
       [ 2.48264720e-01, -2.87517701e-01],
       [ 1.11096066e+00,  2.03363849e+00],
       [-9.01996531e-01, -3.16173950e-01],
       [-2.31010801e-01,  5.63572902e-02],
       [ 9.19250449e-01,  2.11960724e+00],
       [-6.14431218e-01,  2.77010409e-02],
       [-9.97851635e-01, -3.44830199e-01],
       [-1.28541695e+00, -4.30798947e-01],
       [-4.22721010e-01, -2.87517701e-01],
       [-1.18956184e+00,  4.86201029e-01],
       [-1.66883736e+00, -1.34779892e+00],
       [ 8.23395345e-01,  5.14857278e-01],
       [-9.97851635e-01, -3.44830199e-01],
       [ 1.01510555e+00, -1.06123643e+00],
       [ 3.44119824e-01,  5.63572902e-02],
       [-1.35155697e-01, -5.74080193e-01],
       [-2.31010801e-01, -1.29048642e+00],
       [-7.10286322e-01,  4.86201029e-01],
       [-9.01996531e-01, -3.16173950e-01],
       [-1.09370674e+00, -7.74673938e-01],
       [-8.06141426e-01,  2.85607284e-01],
       [-1.66883736e+00,  1.13669789e-01],
       [-1.76469247e+00, -1.29048642e+00],
       [-1.86054757e+00, -5.16767695e-01],
       [-2.31010801e-01,  6.00826026e-01],
       [-1.18956184e+00,  5.72169776e-01],
       [ 7.27540241e-01, -1.08989268e+00],
       [-2.31010801e-01, -4.30798947e-01],
       [ 1.87780149e+00, -2.87517701e-01],
       [-2.31010801e-01, -8.89298935e-01],
       [ 4.39974928e-01, -4.88111445e-01],
       [-1.35155697e-01,  1.60379475e+00],
       [-1.66883736e+00,  3.42919783e-01],
       [-6.14431218e-01, -1.57704892e+00],
       [ 1.52409616e-01,  2.77010409e-02],
       [ 1.68609128e+00, -8.89298935e-01],
       [ 1.78194639e+00,  9.73357266e-01],
       [ 2.48264720e-01, -3.73486448e-01],
       [-2.31010801e-01,  5.63572902e-02],
       [ 1.52409616e-01,  1.03066976e+00],
       [ 5.65545115e-02, -5.45423944e-01],
       [ 1.01510555e+00,  1.83304474e+00],
       [ 3.44119824e-01, -2.01548953e-01],
       [-9.01996531e-01, -7.46017689e-01],
       [ 8.23395345e-01, -1.08989268e+00],
       [ 8.23395345e-01,  7.44107272e-01],
       [ 8.23395345e-01,  3.42919783e-01],
       [ 9.19250449e-01, -1.43376767e+00],
       [-1.09370674e+00, -1.14720518e+00],
       [-5.18576114e-01,  4.57544780e-01],
       [ 2.06951170e+00, -1.17586143e+00],
       [-8.06141426e-01, -2.58861451e-01],
       [ 1.49438107e+00,  9.73357266e-01],
       [-3.93005927e-02,  2.77010409e-02],
       [ 4.39974928e-01, -1.72892704e-01],
       [-1.28541695e+00,  5.43513527e-01],
       [ 2.48264720e-01, -1.44236455e-01],
       [-9.01996531e-01,  2.56951035e-01],
       [-9.97851635e-01,  1.91901349e+00],
       [-6.14431218e-01, -3.44830199e-01],
       [ 1.11096066e+00, -1.44236455e-01],
       [ 8.23395345e-01, -1.37645517e+00],
       [-4.22721010e-01, -1.20451768e+00],
       [ 1.97365660e+00, -6.60048941e-01],
       [-1.35155697e-01,  1.57513850e+00],
       [ 1.01510555e+00,  1.13669789e-01],
       [ 6.31685137e-01, -8.89298935e-01],
       [-1.09370674e+00,  1.37454476e+00],
       [-1.86054757e+00,  3.42919783e-01],
       [ 2.16536680e+00, -1.03258018e+00],
       [ 1.11096066e+00,  1.13669789e-01],
       [-1.35155697e-01,  1.42326038e-01],
       [-4.22721010e-01, -7.74673938e-01],
       [ 2.48264720e-01,  2.77010409e-02],
       [ 1.30267087e+00,  2.17691973e+00],
       [ 7.27540241e-01, -1.37645517e+00],
       [-3.93005927e-02,  6.58138524e-01],
       [ 9.19250449e-01, -5.74080193e-01],
       [ 8.23395345e-01, -1.34779892e+00],
       [ 4.39974928e-01, -4.59455196e-01],
       [ 1.52409616e-01,  1.83304474e+00],
       [ 5.65545115e-02,  1.20260726e+00],
       [-1.09370674e+00,  4.00232281e-01],
       [-5.18576114e-01,  1.34588851e+00],
       [ 4.39974928e-01, -4.59455196e-01],
       [-6.14431218e-01,  1.13669789e-01],
       [-7.10286322e-01, -6.02736442e-01],
       [ 1.52409616e-01, -8.03330187e-01],
       [ 1.87780149e+00,  1.48916975e+00],
       [-1.18956184e+00, -1.06123643e+00],
       [-1.38127205e+00,  3.42919783e-01],
       [-1.18956184e+00,  2.56951035e-01],
       [ 1.49438107e+00,  3.42919783e-01],
       [-1.47712716e+00, -1.23317393e+00],
       [ 4.39974928e-01, -1.44236455e-01],
       [-8.06141426e-01, -7.74673938e-01]])

In [138]:
scaler.transform(X_test)

array([[ 0.24826472,  1.05932601],
       [-0.03930059,  0.14232604],
       [ 0.24826472, -0.31617395],
       [-0.2310108 , -0.3448302 ],
       [ 0.43997493,  0.97335727],
       [-0.90199653,  0.48620103],
       [-1.38127205, -1.43376767],
       [-0.2310108 ,  0.14232604],
       [ 1.01510555, -1.06123643],
       [-0.03930059,  2.11960724],
       [-0.99785163, -1.11854893],
       [-1.38127205, -0.11558021],
       [ 0.43997493,  0.08501354],
       [-0.1351557 , -0.20154895],
       [-0.03930059, -0.43079895],
       [ 0.05655451, -0.25886145],
       [ 2.0695117 ,  0.17098229],
       [-0.2310108 ,  1.08798226],
       [ 0.82339535, -0.31617395],
       [-0.2310108 , -0.66004894],
       [-0.90199653,  0.40023228],
       [-0.42272101, -1.11854893],
       [ 2.1653668 , -0.80333019],
       [-0.2310108 , -0.31617395],
       [ 0.24826472,  0.14232604],
       [-0.2310108 , -0.57408019],
       [ 1.01510555, -1.17586143],
       [ 0.72754024, -0.71736144],
       [-1.28541695, -0.3448302 ],
       [-1.47712716, -0.20154895],
       [-0.61443122,  0.17098229],
       [-0.2310108 ,  0.25695103],
       [-0.51857611, -1.49108017],
       [ 0.34411982, -1.14720518],
       [ 0.34411982, -0.54542394],
       [ 0.34411982,  0.05635729],
       [-0.80614143,  0.37157603],
       [ 0.15240962, -0.31617395],
       [-1.76469247, -1.46242392],
       [ 0.34411982,  0.28560728],
       [-1.57298226, -0.05826771],
       [-0.03930059,  0.11366979],
       [ 1.68609128,  1.5751385 ],
       [ 0.91925045, -0.54542394],
       [ 0.05655451, -0.25886145],
       [ 2.0695117 ,  0.37157603],
       [-1.09370674,  0.31426353],
       [ 0.15240962,  0.02770104],
       [ 0.15240962,  0.14232604],
       [ 0.43997493, -0.14423645],
       [ 1.9736566 ,  0.71545102],
       [ 1.20681576, -0.74601769],
       [ 1.68609128,  1.71841975],
       [ 2.1653668 ,  0.91604477],
       [-0.1351557 , -0.51676769],
       [ 0.15240962, -0.25886145],
       [-1.09370674, -1.57704892],
       [ 0.34411982, -0.31617395],
       [ 1.39852597,  0.57216978],
       [-1.28541695, -1.23317393],
       [-0.61443122,  0.54351353],
       [ 0.91925045, -0.66004894],
       [ 1.59023618,  1.08798226],
       [ 0.91925045, -0.60273644],
       [-1.57298226, -1.54839267],
       [-0.2310108 ,  0.77276352],
       [-1.18956184, -1.37645517],
       [ 1.30267087,  1.83304474],
       [ 0.05655451,  0.02770104],
       [-0.2310108 ,  2.20557598],
       [-0.32686591,  0.05635729],
       [ 1.11096066, -1.20451768],
       [ 2.1653668 ,  1.08798226],
       [ 1.11096066,  0.51485728],
       [-0.42272101, -0.54542394],
       [-1.66883736, -0.97526768],
       [ 0.91925045, -1.29048642],
       [-1.66883736, -0.60273644],
       [-0.2310108 ,  0.02770104],
       [-0.03930059,  0.19963854],
       [-0.90199653, -0.43079895],
       [ 1.9736566 ,  2.11960724],
       [-0.99785163,  0.40023228],
       [ 0.34411982, -0.71736144],
       [ 1.39852597,  1.25991976],
       [-0.1351557 ,  0.83007602],
       [-1.38127205, -0.63139269],
       [ 1.9736566 , -0.91795518],
       [ 0.05655451,  1.23126351],
       [ 0.05655451,  0.02770104],
       [-0.03930059,  2.17691973],
       [ 0.05655451, -0.14423645],
       [-0.71028632, -1.51973642],
       [-0.2310108 , -0.25886145],
       [-0.03930059,  0.22829479],
       [-0.71028632,  1.86170099],
       [-1.09370674,  0.28560728],
       [-0.03930059,  0.28560728],
       [-0.1351557 , -0.4594552 ],
       [ 2.1653668 , -0.80333019]])